<div class="captionClass1">
	<a href="/nl/catalog/kmska:1856" class="title">De intrige<span class="date"> (1890)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Koninklijk+Museum+voor+Schone+Kunsten+Antwerpen&q=&search_field=all_fields" class="collection">Koninklijk Museum voor Schone Kunsten Antwerpen</a>
</div>

<div class="captionClass2">
	<a href="/nl/catalog/mskgent:1998-B-104" class="title">De dood vervolgt de mensenkudde<span class="date"> (1896)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Museum+voor+Schone+Kunsten+Gent&q=&search_field=all_fields" class="collection">Museum voor Schone Kunsten Gent</a>
</div>

<div class="captionClass3">
	<a href="/nl/catalog/groeningemuseum:2004_GRO0001_I" class="title">Icône - Portret van Eugène Demolder<span class="date"> (1893)</span></a>
	<a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
	<a href="/nl/catalog?f%5Brepository%5D%5B%5D=Musea+Brugge+-+Groeningemuseum&search_field=all_fields" class="collection">Groeningemuseum Brugge</a>
</div>

<div class="captionClass4">
	<p class="collection">M Leuven</p>
</div>

<div class="captionClass5">
	<p class="collection">Mu.ZEE Oostende</p>
</div>
