<div class="captionClass1">
	<p class="collection">Musea Brugge</p>
</div>

<div class="captionClass2">
	<a href="/nl/catalog/museabrugge:XI_O_0216" class="title">Tabaksdoos<span class="date"> (1757)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=Keppelman,+J.A.&search_field=all_fields" class="creator">Keppelman, J.A.</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Gruuthusemuseum&q=&search_field=all_fields" class="collection">Gruuthusemuseum</a>
</div>

<div class="captionClass3">
	<a href="/nl/catalog?f%5Brepository%5D%5B%5D=Gruuthusemuseum&search_field=all_fields" class="collection">Gruuthusemuseum</a>
</div>

<div class="captionClass4">
	<a href="/nl/catalog/museabrugge:O_SJ0245b_VII" class="title">Koorbank<span class="date"> (1661)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=anoniem&search_field=all_fields" class="creator">anoniem</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Hospitaalmuseum&q=&search_field=all_fields" class="collection">Hospitaalmuseum</a>
</div>
