<div class="captionClass1">
	<a href="/en/catalog/kmska:1856" class="title">The Intrigue<span class="date"> (1890)</span></a>
    <a href="/en/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
    <a href="/en/catalog?f%5Brepository%5D%5B%5D=Koninklijk+Museum+voor+Schone+Kunsten+Antwerpen&q=&search_field=all_fields" class="collection">Royal Museum of Fine Arts Antwerp</a>
</div>

<div class="captionClass2">
	<a href="/en/catalog/mskgent:1998-B-104" class="title">Death Chasing the Flock of Mortals<span class="date"> (1896)</span></a>
    <a href="/en/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
    <a href="/en/catalog?f%5Brepository%5D%5B%5D=Museum+voor+Schone+Kunsten+Gent&q=&search_field=all_fields" class="collection">Museum of Fine Arts Ghent</a>
</div>

<div class="captionClass3">
	<a href="/en/catalog/groeningemuseum:2004_GRO0001_I" class="title">Icône - Portrait of Eugène Demolder<span class="date"> (1893)</span></a>
	<a href="/en/catalog?f%5Bcreator_index%5D%5B%5D=James+Ensor&search_field=all_fields" class="creator">James Ensor</a>
	<a href="/en/catalog?f%5Brepository%5D%5B%5D=Musea+Brugge+-+Groeningemuseum&search_field=all_fields" class="collection">Groeninge Museum Bruges</a>
</div>

<div class="captionClass4">
	<p class="collection">M Leuven</p>
</div>

<div class="captionClass5">
	<p class="collection">Mu.ZEE Ostend</p>
</div>