<div class="row">
    <div class="row0">
        <h2>Collectie Musea Brugge</h2>

        <p>Musea Brugge verenigt 13 musea: beeldende en toegepaste kunst van de 15de tot en met de 21ste eeuw gecombineerd met beschermde monumenten in de historische binnenstad van Brugge. De collectie van Musea Brugge is samen goed voor meer dan 70.000 objecten waarvan meer dan 40.000 reeds zijn opgenomen in de digitale database - dit aantal stijgt elke dag dankzij het werk van onze registratoren.</p>

        <p>Het overgrote deel van de collectie is nauw verbonden met de rijke geschiedenis van Brugge. De diverse collecties zijn bijeengebracht door verzamelaars en kunstliefhebbers, of komen uit stedelijke instellingen, zoals de Academie. Al in 1839 opende het Memlingmuseum, het eerste Brugse museum, de deuren.</p>

        <p>Naast schilderijen, omvat de collectie beeldende kunst ook heel wat sculptuur, grafiek en tekeningen te bezichtigen in het Groeningemuseum, maar ook in het Sint-Janshospitaal, Onze-Lieve-Vrouw ter Potterie en het O.L.V.-kerk Museum. Het Gruuthusemuseum, het Sint-Janshospitaal, Onze-Lieve-Vrouw ter Potterie, de Onze-Lieve Vrouwekerk museum en het Volkskundemuseum bieden een indrukwekkend overzicht van de kunstnijverheid in Brugge in de vorm van wandtapijten, Brugse kant, edelsmeedwerk, meubilair en aardewerk. Ten slotte heeft Musea Brugge ook een waardevolle volkskundige collectie en belichting van de dichter Guido Gezelle in het Gezellehuis.</p>
    </div>

    <div class="row0">
        <h2>Digitale ontsluiting</h2>
        <p>De digitaliseringsstrategie van onze organisatie zet in op de creatie, bewaring en ontsluiting van data. De volledige collectie registreren is hierbij een belangrijk streven. Het toegankelijk maken van de collectie als open content is een volgende stap in de ontsluiting. Vandaag zetten we hierin eerste stappen. Toepassing van open data zorgt voor bredere toegang en meer mogelijkheid tot onderzoek, kennis en publiek.</p>
    </div>
</div>

<div class="row">
    <div class="row0">
        <h2>Meer weten?</h2>
        <p>Deze Arthub-pagina is een tijdelijk venster in afwachting van de ontwikkeling van een integratie van de collectie in <a href="https://www.museabrugge.be">www.museabrugge.be</a>. Achter dit generiek venster ligt een volledig nieuwe onderbouw verzorgd door de <a href="https://www.vlaamsekunstcollectie.be">Vlaamse Kunstcollectie</a> (VKC). Het ecosysteem van de VKC combineert de metadata of gegevens uit Adlib met de beelden uit een nieuw DAM-systeem (ResourceSpace), gehost door MeeMoo. Het gebruik van beelden op hoge resolutie laat via IIIF-ontsluiting toe om beelden online ter beschikking te stellen en details van beelden en metadata raadpleegbaar te maken. Bovendien is het mogelijk om gedeelde annotaties toe te voegen en hergebruik mogelijk te maken. Als interne functionaliteit laat dit bijvoorbeeld toe om conditierapportage rechtstreeks op het beeld zelf aan te brengen. Tenslotte zal doorlichting en analyse van de metadata via een Dashboard van Musea Brugge mogelijk zijn. Dit project kwam in samenwerking met de <a href="https://www.vlaamsekunstcollectie.be">Vlaamse Kunstcollectie</a> tot stand dankzij een projectsubsidie van de Vlaamse Overheid.</p>
    </div>
</div>
