<div class="row">
    <div class="row0">
    	<h2>What is Arthub Ensor?</h2>
        <p>Arthub Ensor provides high resolution images and descriptions of the works by James Ensor, using the Arthub Flanders platform. The works in this database are managed by the Flemish museums of visual arts.</p>
        <p>On the website ‘James Ensor. An online museum’, you will find a biography of the artist, references to Ensor collections worldwide, archival materials, in-depth articles on his work and more background information. </p>
        <p><a href="http://jamesensor.vlaamsekunstcollectie.be/en" class="btn btn-default" role="button">Discover the website about James Ensor</a></p>
    </div>

    <div class="row0">
        <h2>Who was James Ensor?</h2>
        <p>James Ensor (Ostend, 13 April 1860 – 19 November 1949) is not only an exceptionally talented colourist, but also one of the great 19th-century Realists. From 1876 to 1884 he was a radical, adherent to the <em>plein aire</em> movement that was pre-dominant in Europe-Realism, free from aesthetic, literary and moral conventions. The artist demonstrated this propensity in numerous, nearly empty seascapes, still lifes and in fifteen intimate interiors. His nearly pure pictorial importance appeared from the virtuoso manner in which he applied the paint with the palette knife.</p>
        <p>Moreover, no one has examined light as a source of mystification like Ensor. From 1885 until around 1890, he practiced a creative method in his drawings and sketches, in which light experiments were combined with associative or surreal grotesques. Autobiographical motifs are mixed with societal ones.</p>
        <p>However, the most striking realisations he produced as a painter were humourous masquerades and grotesque <em>persiflages</em>. For Ensor, the mask is an instrument of an expressionistic <em>demasqué</em>: he reveals the true malicious and ridiculous nature of humans. This emancipation from the caricature will be a source of inspiration for the German Expressionists.</p>
        <p>(Text: Herwig Todts)</p>
    </div>
</div>

<div class="row">
    <div class="row0">
    	<h2>What is Arthub Flanders?</h2>
    	<p>Arthub Flanders collects metadata and images about cultural heritage objects exhibited and preserved by the Flemish museums of Visual Arts. Arthub Flanders disseminates metadata in open formats under open licenses allowing flexible reuse in your own applications.</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collections</h3>
            <p>Arthub Flanders is a user-friendly search machine which makes finding information about cultural heritage objects across the boundaries of collections and the Flemish museums of visual arts possible.</p>        
            <p><a href="/en/collections" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Audience</h3>
            <p>Arthub Flanders is a living catalogue for a diverse audience of museum workers, researchers, technical developers, (art) historians, educational professionals, creative industries and many more.</p>
            <p><a href="/en/how-to-use" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders disseminates all the available information as open data. The platform leverages open technical formats and open licenses to promote accessibility and foster reuse of metadata about cultural heritage objects.</p>    
            <p><a href="/en/open-data" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders is build with open source software. Participate in the development of these software tools. Submit issues, changes or suggestions and help shape the growth of Arthub Flanders.</p>        
            <p><a href="/en/open-source" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>
</div>

