<div class="row">
    <div class="row0">
        <h2>Wat is Arthub Ensor?</h2>
        <p>Arthub Ensor toont hogeresolutiebeelden en beschrijvingen van de kunstwerken van James Ensor, met gebruik van de Arthub Flanders-infrastructuur. De kunstwerken in deze databank worden beheerd door de Vlaamse musea voor beeldende kunsten.</p>
        <p>Op de website ‘James Ensor. Een online museum’ vind je een uitgebreide biografie van de kunstenaar, verwijzingen naar collecties met Ensorwerken, archivalia, diepgaande artikels over zijn oeuvre en andere achtergrondinformatie. </p>
        <p><a href="http://jamesensor.vlaamsekunstcollectie.be/nl" class="btn btn-default" role="button">Ontdek de Ensorwebsite</a></p>
    </div>

    <div class="row0">
        <h2>Wie was James Ensor?</h2>
        <p>James Ensor (Oostende, 13 april 1860 – 19 november 1949) is niet alleen een uitzonderlijk getalenteerd colorist, maar ook een van de grote 19de-eeuwse realisten. Van 1876 tot 1884 was hij een radicaal aanhanger van het in Europa overheersende pleinairisme, het realisme vrij van esthetische, literaire en morele conventies. Dat bewees de kunstenaar in talloze nagenoeg lege marines, stillevens, en een 15-tal intimistische interieurs. Uit de virtuoze wijze waarop hij de verf met het paletmes aanbracht, blijkt zijn bijna zuiver picturale belangstelling.</p>
        <p>Bovendien heeft niemand zoals Ensor het licht als een bron van mystificatie onderzocht. Van 1885 tot omstreeks 1890 oefende hij in zijn tekeningen en etsen een creatiemethode waarin lichtexperimenten gecombineerd worden met associatieve of surreële grotesken. Autobiografische motieven zijn vermengd met maatschappelijke.</p>
        <p>Maar de meest opvallende realisaties levert hij als schilder van hilarische maskerades en groteske persiflages. Voor Ensor is het masker een instrument van een expressionistisch demasqué: hij onthult de ware boosaardige en lachwekkende aard van de mens. Deze emancipatie van de karikatuur zal een bron van inspiratie zijn voor de Duitse expressionisten.</p>
        <p>(Tekst: Herwig Todts)</p>
    </div>
</div>

<div class="row">
    <div class="row0">
        <h2>Wat is Arthub Flanders?</h2>
        <p>Arthub Flanders verzamelt beschrijvingen en beelden over kunst- en erfgoedobjecten opgesteld en beheerd door de Vlaamse musea voor Beeldende Kunsten. Arthub Flanders publiceert deze beschrijvingen in open formaten en onder een open licentie zodat iedereen ze kan hergebruiken in eigen toepassingen.</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collecties</h3>
            <p>Arthub Flanders is een gebruiksvriendelijke zoekmachine om informatie over kunst- en erfgoedobjecten terug te vinden over de grenzen van collecties aanwezig in de Vlaamse musea voor beeldende kunsten heen.</p>
            <p><a href="/nl/collecties" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Voor wie</h3>
            <p>Arthub Flanders is een levende catalogus voor een brede gemeenschap van museale medewerkers, onderzoekers, ontwikkelaars, (kunst)historici, onderwijs, creatieve industrieën en vele anderen.</p>
            <p><a href="/nl/handleiding" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders stelt alle gepubliceerde informatie ter beschikking als open data. Ze hanteert open formaten en open licenties om de drempel tot hergebruik van gegevens zo laag mogelijk te leggen.</p>
            <p><a href="/nl/open-gegevens" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders maakt gebruik van open source software. Participeer mee in de ontwikkeling van de software. Discussieer en bouw mee aan de programmacode en help zo Arthub Flanders te groeien.</p>
            <p><a href="/nl/open-bron" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>
</div>

