<div class="row">
    <div class="row0">
        <h2>Collection Musea Brugge</h2>

        <p>Musea Brugge unites 13 museums: visual and applied arts from the 15th until the 21st century combined with protected monuments in the historic inner city of Bruges. The collection of the Musea Brugge represents over 70.000 objects, of which more than 40.000 have already been included in a digital database - this number increases every day thanks to the work of our registrators.</p>

        <p>The vast majority of the collection is tightly connected to the rich history of Bruges. The diverse collections have been brought together by collectors and art lovers, or come from municipal institutions, such as the Academie. Already in 1839 the Memlingmuseum,  the first museum of Bruges, opened its doors.</p>

        <p>Aside from paintings, the collection of visual arts also contains a lot of sculptres, graphics and drawings which can be seen in the Groeningemuseum, but also the Sint-Janshospitaal, Onze-Lieve-Vrouw ter Potterie and the Onze-Lieve Vrouwekerk Museum. The Gruuthusemuseum, Sint-Janshospitaal, Onze-Lieve-Vrouw ter Potterie, the Onze-Lieve Vrouwekerk and the Volkskunsemuseum offer an impressive overview of the applied arts in Bruges in the form of tapestries, Bruges lace, goldsmithery, furniture and pottery. Finally, Musea Brugge also has a valuable folklore collection and exposure of the poet Guido Gezelle in the Gezellehuis.</p>
    </div>

    <div class="row0">
        <h2>Digital disclosure</h2>
        <p>Our organization's digitization strategy focuses on the creation, storage and disclosure of data. Registering the entire collection is an important goal here. Making the collection accessible as open content is a next step in making it accessible. Today we are taking the first steps in this direction. Application of open data provides wider access and more possibilities for research, knowledge and the public.</p>
    </div>
</div>

<div class="row">
    <div class="row0">
        <h2>Want to know more?</h2>
        <p>This Arthub page is a temporary window pending the development of an integration of the collection in <a href="https://www.museabrugge.be">www.museabrugge.be</a>. Behind this generic window is a completely new groundwork provided by the <a href="https://www.vlaamsekunstcollectie.be">Flemish Art Collection</a> (VKC). The VKC ecosystem combines the metadata or data from Adlib with the images from a new DAM system (ResourceSpace), hosted by MeeMoo. The use of high-resolution images through the use of IIIF allows for the disclosure of online images and to make details of images and metadata accessible. In addition, it is possible to add shared annotations and enable reuse. As an internal functionality, this makes it possible, for example, to apply condition reports directly to the image itself. Finally, screening and analysis of the metadata will be possible via a Dashboard of Musea Brugge.</p>

        <p>This project was realized in collaboration with the <a href="https://www.vlaamsekunstcollectie.be">Flemish Art Collection</a> thanks to a project subsidy from the Flemish Government.</p>
    </div>
</div>
